<div class="container">
  <div class="tile is-ancestor">
    <div class="tile is-parent">
      <div class="tile is-child box">
        <p class="title">
          {{ editMode == true ? 'Edit Your Stork.' : 'Register Your Stork.' }}
        </p>
        <form (submit)="onSaveStork(formAddStork)" #formAddStork="ngForm">
          <div class="field">
            <label class="label">Unique Stork Code</label>
            <p class="control has-icons-left">
              <input
                class="input"
                (keydown.space)="$event.preventDefault()"
                type="text"
                name="inputStorkID"
                [ngModel]="stork?.stork_code"
                required
                minlength="6"
                maxlength="6"
                pattern="[A-Z0-9]*"
                placeholder="STR1234..."
                [disabled]="editMode"
              />
              <span class="icon is-small is-left">
                <i class="fas fa-id-badge"></i>
              </span>
            </p>
            <p class="help">
              Must be exactly 6 characters long and only consist of
              <u>capital</u> letters and numbers.
              <strong>Example: AB1CD2</strong>
            </p>
          </div>
          <div class="field">
            <label class="label">Nickname</label>
            <p class="control has-icons-left has-icons-right">
              <input
                class="input"
                (keydown.space)="$event.preventDefault()"
                type="text"
                name="inputStorkNickname"
                [ngModel]="stork?.nickname"
                required
                minlength="4"
                maxlength="20"
                pattern="[a-zA-Z0-9 ]*"
                placeholder="Mona Lisa..."
              />
              <span class="icon is-small is-left">
                <i class="fas fa-tag"></i>
              </span>
            </p>
            <p class="help">
              Must be 4 - 20 characters long and only consist of letters and
              numbers with no spaces.
              <strong>Example: YourNickname1234</strong>
            </p>
          </div>
          <div class="field">
            <p class="control">
              <button
                class="button is-primary"
                [disabled]="formAddStork.invalid"
                type="submit"
              >
                {{ editMode == true ? 'Save' : 'Add' }}
              </button>
            </p>
          </div>
        </form>
      </div>
    </div>
    <div class="tile is-5 is-vertical is-parent">
      <div class="tile is-child box">
        <p class="title">Your Stork Devices.</p>
        <app-stork-list></app-stork-list>
      </div>
    </div>
  </div>
</div>
