<section class="hero">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="column is-4 is-offset-4">
        <h3 class="title has-text-grey">Login</h3>
        <p class="subtitle has-text-grey">Please Login to Proceed.</p>
        <div class="box">
          <form (submit)="onLogin(formLogin)" #formLogin="ngForm">
            <div class="field">
              <div class="control">
                <input
                  class="input is-large"
                  type="email"
                  ngModel
                  placeholder="Your Email"
                  autofocus=""
                  name="inputUserLoginEmail"
                  required
                />
              </div>
            </div>
            <div class="field">
              <div class="control">
                <input
                  class="input is-large"
                  type="password"
                  ngModel
                  placeholder="Your Password"
                  name="inputUserLoginPassword"
                  required
                />
              </div>
            </div>
            <button
              type="submit"
              [disabled]="formLogin.invalid"
              class="button is-block is-info is-large is-fullwidth"
            >
              Login
            </button>
          </form>
        </div>
      </div>
      <p class="has-text-grey">
        <a [routerLink]="['/sign-up']">Don't have an account? Sign Up</a>
      </p>
    </div>
  </div>
</section>
