html,
body {
  height: 100%;
  background: #f9fafb;
}

body {
  margin: 0px;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

main {
  margin-top: 1rem;
  width: 100%;
  margin: auto;
}

mat-form-field,
textarea {
  width: 100%;
}

.example-fill-remaining-space {
  flex: 1 1 auto;
}
