<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a [routerLink]="['/storks/your-storks']" class="navbar-item">
      <img src="../../assets/stork-web-logo.png" width="112" height="28" />
    </a>

    <a
      role="button"
      class="navbar-burger burger"
      aria-label="menu"
      aria-expanded="false"
      data-target="storkNavbar"
      [class.is-active]="showBurgerMenu"
      (click)="showBurgerMenu = !showBurgerMenu"
    >
      <span aria-hidden="true"></span> <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="storkNavbar" class="navbar-menu" [class.is-active]="showBurgerMenu">
    <div class="navbar-start">
      <a
        *ngIf="userIsAuthenticated"
        [routerLink]="['/storks/your-storks']"
        class="navbar-item"
      >
        All Storks
      </a>

      <a
        *ngIf="userIsAuthenticated"
        [routerLink]="['/storks/register-stork']"
        class="navbar-item"
      >
        Register A Stork
      </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a
            *ngIf="!userIsAuthenticated && router.url != '/sign-up'"
            [routerLink]="['/sign-up']"
            class="button is-primary"
          >
            <strong>Sign Up</strong>
          </a>
          <a
            *ngIf="!userIsAuthenticated && router.url === '/sign-up'"
            [routerLink]="['/login']"
            class="button is-primary"
          >
            <strong>Log In</strong>
          </a>
          <a
            *ngIf="userIsAuthenticated"
            (click)="onLogout()"
            class="button is-primary"
          >
            <strong>Log Out</strong>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
